name: Matrix Demo
on:
  push:
    branches:
      - master
    paths-ignore:
        - .github/workflows/continue-flow.yaml
        - "**/execution-flow.yml"   # .github/workflows/execution-flow.yml
jobs: 
  build:
    strategy:
        matrix:
            node-versions: [12,14,16]
            operating-system: [ubuntu-latest,windows-latest]
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install node JS
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: Install Dependencies
        run: npm ci
      - name: Build project
        run: npm run build
